.section-four {
  background-color: #242946;
  color: #fff;
  padding-bottom: 40px;
}

.sec-four-container {
  padding-top: 40px;
  width: 76.5%;
  margin: auto;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-logo img {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.footer-list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer-list ul li {
  margin-right: 60px;
}

.footer-list ul li a {
  color: #fff;
}
.footer-list ul li a:hover {
  color: #fd5759;
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.facebook {
  margin-right: 20px;
}

.facebook:hover, .twitter:hover {
  cursor: pointer;
}